## sql and  sqlite

In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')

In [3]:
cursor=connection.cursor()

In [4]:
### create table

cursor.execute('''
create table if not exists employees(
               id intger primary key,
               name text not null,
               age integer,
               department text
               )
''')

## commit the changes
connection.commit()

In [5]:
cursor.execute('''
select * from employees
''')

In [ ]:
cursor.execute('''
insert into employees(name,age,department) values('krish',21,'data analyst')
''')

cursor.execute('''
insert into employees(name,age,department) values('keshav',23,'data analyst')
''')

cursor.execute('''
insert into employees (name,age,department) values('om',24,'data analyst')
''')

cursor.execute('''
insert into employees (name,age,department) values('raj',22,'data analyst')
''')

connection.commit()

In [22]:
cursor.execute(
    '''select * from employees'''
)
rows=cursor.fetchall()
## print the data

for row in rows:
    print(row)

(None, 'keshav', 22, 'data analyst')
(None, 'om', 24, 'data analyst')
(None, 'raj', 22, 'data analyst')

In [17]:
## update the data

cursor.execute(
    '''update employees
    set age = 22
    where name ="keshav"'''
)
connection.commit()

In [21]:
### how to delete the data from the table

cursor.execute(
    '''delete from employees 
    where age=21'''
)
connection.commit()

In [33]:
### working with sales data

connection= sqlite3.connect('sales_data.db')
cursor=connection.cursor()
## table

cursor.execute(
    '''create table if not exists sale(
    id integer primary key autoincrement,
    date text not null,
    product text not null,
    sales integer,
    region text
    )
''')


sales_data=[
    ('2024-02-03','product1',100,'north'),
    ('2024-02-01','product2',500,'east'),
    ('2024-02-02','product1',240,'south'),
    ('2024-02-05','product2',300,'west'),
    ('2024-02-03','product3',100,'north')
]
cursor.executemany(
    '''
insert into sale(date,product,sales,region) values(?,?,?,?)''',sales_data
)
connection.commit()

In [34]:
cursor.execute(
    '''select * from sale'''
)
rows=cursor.fetchall()
## print the data

for row in rows:
    print(row)

(1, '2024-02-03', 'product1', 100, 'north')
(2, '2024-02-01', 'product2', 500, 'east')
(3, '2024-02-02', 'product1', 240, 'south')
(4, '2024-02-05', 'product2', 300, 'west')
(5, '2024-02-03', 'product3', 100, 'north')

In [35]:
## close the connection 

connection.close()