In [2]:
lst=[453,4.53,"keshavraj",True]
print(lst)
print(lst[2])

[453, 4.53, 'keshavraj', True]
keshavraj

In [3]:
#modification of list
lst1=[453,4.53,"keshavraj",True,"banana","apple"]
lst1[3]="pore"
print(lst1)

[453, 4.53, 'keshavraj', 'pore', 'banana', 'apple']

In [4]:
#list methods

lst1.append("orenge")
print(lst1)

[453, 4.53, 'keshavraj', 'pore', 'banana', 'apple', 'orenge']

In [5]:
lst1.insert(1,"534")
print(lst1)

[453, '534', 4.53, 'keshavraj', 'pore', 'banana', 'apple', 'orenge']

In [6]:
lst1.append("keshavraj")
print(lst1)

[453, '534', 4.53, 'keshavraj', 'pore', 'banana', 'apple', 'orenge', 'keshavraj']

In [7]:
lst1.remove("keshavraj")#it is just removing the first occurence of an item
print(lst1)

[453, '534', 4.53, 'pore', 'banana', 'apple', 'orenge', 'keshavraj']

In [8]:
# i want to remove an return in the last
popped_lst=lst1.pop()
print(popped_lst)
print(lst1)

keshavraj
[453, '534', 4.53, 'pore', 'banana', 'apple', 'orenge']

In [9]:
lst1.append("keshavraj")

In [10]:

index=lst1.index("keshavraj")
print(index)

7

In [12]:
lst1.insert(7,"keshavraj")
lst1.insert(8,"pore")
print(lst1)

[453, '534', 4.53, 'pore', 'banana', 'apple', 'sakshi', 'keshavraj', 'pore', 'orenge', 'pore', 'keshavraj']

In [15]:
lst1.remove(453)
lst1.remove('534')
lst1.remove(4.53)
lst1.sort()
print(lst1)

['apple', 'banana', 'keshavraj', 'keshavraj', 'orenge', 'pore', 'pore', 'pore', 'sakshi']

In [17]:
lst1.reverse()
print(lst1)

['apple', 'banana', 'keshavraj', 'keshavraj', 'orenge', 'pore', 'pore', 'pore', 'sakshi']

In [18]:
lst.clear()
print(lst)

[]

In [21]:
#slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])#345
print(numbers[:5])#12345
print(numbers[5:])#6to10
print(numbers[1::2])#246810
print(numbers[::-1])#10987654321
print(numbers[4])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
5

In [22]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [23]:
#list comprehention
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
[x**2 for x in range(10)]
# basic syntax [expression for item in iterable]
#with conditional logic [expression for item in iterable if condition]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [27]:
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [28]:
#nested list comphrension
lst3=[1,2,3,4]
lst4=['a','b','c','d']
pair=[[i,j] for i in lst3 for j in lst4 ]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [29]:
#list comprehension with function calls
words=["keshavraj","prasad","pore","list","iamonlyone"]
length=[len(word) for word in words]
print(length)

[9, 6, 4, 4, 10]