In [1]:
# function is a block of code that performs a specific task. function help in organizing code
# reusing code and improving readability



def function_name(parameters):
    """docstring"""
    # function body
    return expression


# this is the basic syntax of function

In [2]:
# why function 
num=24
if num%2==0:
    print("the number is even")

else:
    print("number is odd"
    )

the number is even

In [3]:
def even_or_odd(num):
    """"this fuction is performs to find even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print(" the number is odd")


even_or_odd(453)

 the number is odd

In [4]:
even_or_odd(534)

the number is even

In [5]:
## function with multiple parameter 

def add(a,b):
    return a+b

result=add(15,22)
print(result)

37

In [6]:

def great(name):
    print(f"hello {name}")


great("keshavraj")

hello keshavraj

In [7]:
## default parameter  

def great(name="guest"):
    print(f"hello {name}")


great()

hello guest

In [8]:
# variable length arguments
# positional arguments

def print_number(*args):
    for numbers in args:
        print(numbers)

In [9]:
print_number(1,52,5,2,5,5,"keshav")

1
52
5
2
5
5
keshav

In [10]:
# keyword arguments (key:word)

def print_details(**kwargs):# ** is a key word argument
    for key,value in kwargs.items():
        print(f"key {key}: word {value}")

In [11]:
print_details(name="keshav",age="21",country="india")

key name: word keshav
key age: word 21
key country: word india

In [12]:
def print_details(*args,**kwargs):
    for numbers in args:
        print("positional argument:",numbers)
    for key,value in kwargs.items():
        print(f"key {key}: word {value}")

In [15]:
print_details(1,2,54,2,5,2,5,name="keshav",age="21",country="india")

positional argument: 1
positional argument: 2
positional argument: 54
positional argument: 2
positional argument: 5
positional argument: 2
positional argument: 5
key name: word keshav
key age: word 21
key country: word india

In [16]:
## return statement can return multiple parameter 



def multiply(a,b):
    return a*b,a
multiply(2,5)

(10, 2)

In [18]:
def convert_temp(temp,unit):
    """"this function to convert cel to fara"""

    if unit=='c':
        return temp *9/5+32 
    elif unit=='f':
        return (temp-32)*5/9 
    else:
        print("invalid unit")


convert_temp(37,'c')

98.6

In [19]:
def is_stronge_password(password):
    """this function checks password is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower for char in password):
        return False
    if not any(char.isupper for char in password):
        return False
    if not any(char in '!@#$%^&*()_+-/<>' for char in password):
        return False
    return True

In [37]:
print(is_stronge_password("Keshavraj@1323"))
print(is_stronge_password("5221&01101"))

True
True

In [41]:
def calculate_prize(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['prize']*item['quantity']
    return total_cost


cart=[
    {"name":"banana","prize":24,"quantity":3},
    {"name":"banana","prize":27,"quantity":4},
    {"name":"banana","prize":42,"quantity":2},
    {"name":"banana","prize":21,"quantity":7}
]
calculate_prize(cart)

411

In [43]:
# palindrome
def is_palindrme(s):
    s=s.lower().replace(" ","")
    return s[::-1]==s

is_palindrme("ada da")

True

In [44]:
def factorial(n):
    if n ==0:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [1]:
## lambada function


lambda arguments:expression

In [2]:
addition=lambda a,b:a+b

In [3]:
print(addition(15,25))

40

In [6]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

even(453)
print(even(453))

False

In [7]:
even1=lambda num:num%2==0
print(even1(534))

True

In [8]:
addition1=lambda x,y,z:x+y+z
print(addition1(12,45,13))

70

In [20]:
## map () - applies a function to all items in a list


numbers=[1,2,4,5,3,78,2]
def square(number):
    for num in number:
        c=num**2
        print(c)


square(numbers)

1
4
16
25
9
6084
4

In [24]:
list(map(lambda x:x**2,numbers  ))

[1, 4, 16, 25, 9, 6084, 4]

In [25]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [26]:
list(map(even,numbers))

[False, True, True, False, False, True, True]

In [28]:
## can we map multiple iterables

number1=[1,2,54,2]
number2=[54,6,1,456,4]

added=list(map(lambda x,y:x+y,number1,number2))
print(added)

[55, 8, 55, 458]

In [29]:
words=["apple","banana","cherry"]

upper_word=list(map(str.upper,words))

print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [39]:
def get_name(person):
    return person['name']
people=[
    {"name":"keshavraj","age":21},
    {"name":"kesh","age":25},
    {"name":"keshav","age":212}
]
list(map(get_name,people))

['keshavraj', 'kesh', 'keshav']

In [40]:
lst=[125,52,3,6,5852,5,5]

list(filter(even,lst))

[52, 6, 5852]

In [43]:
# filter with lambda function
grater_than_five=list(filter(lambda x:x>5 and x%2==0,lst))
print(grater_than_five)

[52, 6, 5852]

In [53]:
# filter the age grater than 25 in the dictionaries

student={
  "rollno1": {"name":"keshavraj","age":21},
   "rollno2": {"name":"kesh","age":222},
   "rollno3": {"name":"keshav","age":212}
}
print(type(student))

<class 'dict'>

In [54]:
greater_than_25={"name":[]}
for i,j in student.items():
    name=j["name"]
    age=j["age"]
    if age>25:
        greater_than_25["name"].append(name)
print(greater_than_25)

{'name': ['kesh', 'keshav']}

In [56]:
student=[
    {"name":"keshavraj","age":21},
    {"name":"kesh","age":222},
    {"name":"keshav","age":212}
]
def greater_than_255(person):
    return person["age"]>25

list(filter(greater_than_255,student))

[{'name': 'kesh', 'age': 222}, {'name': 'keshav', 'age': 212}]