In [2]:
# manage a to do list

to_do_list=["buy groceries","clean home","paying a bill"]
## adding a new task in the list

to_do_list.append("schedule a meeting")
to_do_list.append("call home")


print(to_do_list)
## remove the task

to_do_list.remove("call home")
print(to_do_list)
## ckecking if the task in the list


if "paying a bills" in to_do_list:
    print("don't forget to pay a bills")

print("to do list remaing")

for task in to_do_list:
    print(f"-{task}")

['buy groceries', 'clean home', 'paying a bill', 'schedule a meeting', 'call home']
['buy groceries', 'clean home', 'paying a bill', 'schedule a meeting']
to do list remaing
-buy groceries
-clean home
-paying a bill
-schedule a meeting

In [18]:
# organizing student grade
# above 8.5 is A grade 7.5-8.5 B grade below 7.5 C grade
grades={
    "roll.no.:1":{"name":"pratham jadhav","grade":8.25},
    "roll.no.:2":{"name":"nikhil ghule","grade":7.35},
    "roll.no.:3":{"name":"vipul zende","grade":8.65},
    "roll.no.:4":{"name":"pranav takwale","grade":7.75},
    "roll.no.:5":{"name":"keshavraj pore","grade":8.85}
}
print(grades)

graded_students={"A":[],"B":[],"C":[]}

for rollno,student in grades.items():
    name=student["name"]
    grade=student["grade"]
    if grade>=8.5:
        graded_students["A"].append(name)
    elif grade>=7.5 and grade<8.5:
        graded_students["B"].append(name)
    else:
        graded_students["C"].append(name)


print(graded_students)

{'roll.no.:1': {'name': 'pratham jadhav', 'grade': 8.25}, 'roll.no.:2': {'name': 'nikhil ghule', 'grade': 7.35}, 'roll.no.:3': {'name': 'vipul zende', 'grade': 8.65}, 'roll.no.:4': {'name': 'pranav takwale', 'grade': 7.75}, 'roll.no.:5': {'name': 'keshavraj pore', 'grade': 8.85}}
{'A': ['vipul zende', 'keshavraj pore'], 'B': ['pratham jadhav', 'pranav takwale'], 'C': ['nikhil ghule']}

In [22]:
# collecting feed back

feed=dict()

feed={"name":input("enter your name"),"std":input("enter your std"),"rollno":input("enter your roll no")}
print(feed)

{'name': 'nikhil ghule', 'std': '3 rd year', 'rollno': '22249'}
{'name': 'nikhil ghule', 'std': '3 rd year', 'rollno': '22249'}